@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 0%; /* black */
        --foreground: 0 0% 100%; /* white */

        --card: 0 0% 0%;
        --card-foreground: 0 0% 100%;

        --popover: 0 0% 0%;
        --popover-foreground: 0 0% 100%;

        --primary: 106 55% 51%; /* green accent */
        --primary-foreground: 0 0% 0%;

        --secondary: 0 0% 20%;
        --secondary-foreground: 0 0% 100%;

        --muted: 0 0% 20%;
        --muted-foreground: 0 0% 76%;

        --accent: 106 55% 51%;
        --accent-foreground: 0 0% 0%;

        --destructive: 9 81% 54%;
        --destructive-foreground: 0 0% 100%;

        --border: 0 0% 20%;
        --input: 0 0% 9%;
        --ring: 106 55% 51%;

        --radius: 0.5rem;
    }
    html,
    body {
        @apply overflow-hidden bg-black text-white;
        font: var(--base-font);
        -webkit-font-smoothing: auto;
    }

    body.is-dev .sidebar {
        --app-panel-bg-color: var(--app-panel-bg-color-dev);
    }

    body textarea,
    body textarea.textarea {
        @apply overflow-visible leading-relaxed;
        font: var(--base-font);
        color: var(--app-text-color);
        background-color: var(--input-bg-color);
    }

    body textarea:focus,
    body textarea.textarea:focus {
        @apply shadow-none;
    }

    body textarea::placeholder,
    body textarea.textarea::placeholder {
        color: var(--input-placeholder-color);
    }

    body input,
    body input.input {
        font: var(--base-font);
        @apply leading-relaxed;
        color: var(--app-text-color);
        background-color: var(--input-bg-color);
    }

    body input::placeholder,
    body input.input::placeholder {
        color: var(--input-placeholder-color);
    }

    body a {
        color: var(--app-accent-color);
        @apply cursor-pointer no-underline;
    }

    body a:hover {
        color: var(--app-accent-color);
    }

    body code {
        font-family: var(--termfontfamily);
        @apply bg-transparent;
    }

    svg.icon {
        fill: var(--app-text-color);
        @apply w-full h-full inline-block;
    }

    input[type="checkbox"] {
        @apply cursor-pointer;
    }
}

